<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="row w-100 d-flex justify-content-center align-items-center bg-primary p-5" style="height: 100vh;">
            <div class="col">
                <h1 class="text-light display-4">Egadgets</h1>
                <p class="text-light" style="text-align: justify;">The e-commerce business within these two regions will result in competition.
                     Government bodies at the country level will enhance their measures and strategies to ensure sustainability and consumer 
                     protection (Krings, et al.). These increased measures will raise the environmental and social standards in the countries,
                      factors that will determine the success of the e-commerce market in these countries. For example, an adoption of tough 
                      sanctions will make it difficult for companies to enter the e-commerce market while lenient sanctions will allow ease of
                       companies. As such, the future trends between GCC countries and the Western countries will be independent of these sanctions 
                       (Krings, et al.). These countries need to make rational conclusions in coming up with effective sanctions.</p>
                <a href="{% url 'log' %}" class="btn btn-outline-warning">Explore....</a>
            </div>
            <div class="col">
                <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/019/895/742/non_2x/3d-rendering-e-commerce-promotion-discount-day-element-png.png" alt="">
            </div>
        </div>
        
    </body>
</html>
